<a href="https://colab.research.google.com/github/sridevibonthu/TSAI_END_P1/blob/main/Session%2008/100_python_samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Function to return area of a triangle when sides are given

def areaOfTriangle(a, b, c):
  s = (a+b+c)/2
  return (s*(s-a)*(s-b)*(s-c)) ** 0.5

areaOfTriangle(3, 6, 7)

8.94427190999916

In [ ]:
# 2. This program checks whether the given year is leap year or not.
# A  leap year is exactly divisible by 4 except for century years (years ending with 00). 
# The century year is a leap year only if it is perfectly divisible by 400. 

year = int(input("Enter year : "))

if (year%4 == 0 and year%100 != 0) or year%400 == 0:
  print(f'{year} is a leap year')
else:
  print(f'{year} is not a leap year')

Enter year : 2000
2000 is a leap year

In [ ]:
# 3. Function to swap two numbers
def swapNumbers(a, b):
  return b, a

swapNumbers(4, 5)

(5, 4)

In [ ]:
# 4. Program to check the length of a string without using built-in function

s = input("Enter string : ")
l = 0
for x in s:
  l += 1
print(f'length of {s} is {l}')

Enter string : vamsika
length of vamsika is 7

In [ ]:
# 5. Finding square root without using math.sqrt
x = int(input("Enter a number : "))
ans = x ** 0.5
print(f'sqrt({x}) = {ans}')

Enter a number : 81
sqrt(81) = 9.0

In [ ]:
# 6. Program to check whether the given number is divisible by seven or not
num = int(input("Enter a number: "))
if (num % 7) == 0:
   print(f'{num} is divisible by 7.')
else:
   print(f'{num} is not divisible by 7.')

Enter a number: 67
67 is not divisible by 7.

In [ ]:
# 7. Generate a random number between 0 and 9
import random
print(random.randint(0, 9))

6

In [ ]:
# 8. program to caluculate the factorial of a number
n = int(input("Enter a number : "))
fact = 1
for i in range(1, n+1):
    fact = fact * i
print(f'{n}! = {fact}')

Enter a number : 5
5! = 120

In [ ]:
# 9. Python function to count the number of occurrences of characters (character frequency) in a string

def char_frequency(str1):
    dict = {}
    for ch in str1:
        if ch in dict.keys():
            dict[ch] += 1
        else:
            dict[ch] = 1
    return dict
print(char_frequency('TheSchoolOfAI, Bangalore'))

{'T': 1, 'h': 2, 'e': 2, 'S': 1, 'c': 1, 'o': 3, 'l': 2, 'O': 1, 'f': 1, 'A': 1, 'I': 1, ',': 1, ' ': 1, 'B': 1, 'a': 2, 'n': 1, 'g': 1, 'r': 1}

In [ ]:
# 10. Python function to count the number of occurrrences of words in the text

def word_frequency(str1):
  dict = {}
  for w in str1.split():
    if w in dict.keys():
      dict[w] += 1
    else:
      dict[w] = 1
  return dict

text = "Look at this sample file: sample.py Preview the documentYou are to write such examples, where you describe the code to be written (starts with #), and the code it should generate. The file shows 3 examples of what text should generate what code. "

print(word_frequency(text))

{'Look': 1, 'at': 1, 'this': 1, 'sample': 1, 'file:': 1, 'sample.py': 1, 'Preview': 1, 'the': 3, 'documentYou': 1, 'are': 1, 'to': 2, 'write': 1, 'such': 1, 'examples,': 1, 'where': 1, 'you': 1, 'describe': 1, 'code': 2, 'be': 1, 'written': 1, '(starts': 1, 'with': 1, '#),': 1, 'and': 1, 'it': 1, 'should': 2, 'generate.': 1, 'The': 1, 'file': 1, 'shows': 1, '3': 1, 'examples': 1, 'of': 1, 'what': 2, 'text': 1, 'generate': 1, 'code.': 1}

In [ ]:
# 11. Python function to return a string formed using first and last two characters.
def FirstandLasttwo(str1):
  if len(str1)<2:
    return ''
  return str1[:2]+str1[-2:]

print(FirstandLasttwo('NLP'))
print(FirstandLasttwo('Bhimavaram'))
print(FirstandLasttwo('S'))

NLLP
Bham

In [ ]:
# 12. program to replace all occurrences of first character of a string with $

str1 = 'ouagadougou'

ch = str1[0]
str1 = str1.replace(ch, '$')
str1 = ch + str1[1:]

print(str1)

ouagad$ug$u

In [ ]:
# 13. write a function to add 'ing' at the end of the string, if it doesnot end with 'ing'

def addINGatend(str1):
  if not str1.endswith('ing'):
    str1 = str1 + 'ing'
  return str1

print(addINGatend('play'))
print(addINGatend('running'))

playing
running

In [ ]:
# 14. python program to find the longest word in the sentence
sent = "I am working as an Assistant Professor at Vishnu Institute of Technology - Bhimavaram"
longword = ''
for x in sent.split():
  if len(x) > len(longword):
    longword = x

print(f'Longest word = {longword}\nLength = {len(longword)}')

Longest word = Technology
Length = 10

In [ ]:
# 15. program to exchange first and last characters in a given string
str1 = "SrithaN"
print(str1[-1] + str1[1:-1] + str1[0])

NrithaS

In [ ]:
# 16.  Function to remove the nth character in a given string
def RemoveNth(str1, n):
  return str1[:n] + str1[n+1:]

print(RemoveNth('Bhimavaram', 3))

Bhiavaram

In [ ]:
# 17. Function which removes the characters at odd index in a given string
def RemoveOdd(str1):
  res = ''
  for i in range(len(str1)):
    if i%2 == 0:
      res += str1[i]
  return res

print(f'String "Bhimavaram" after removing odd index characters : {RemoveOdd("Bhimavaram")}')

String "Bhimavaram" after removing odd index characters : Biaaa

In [ ]:
# 18. Function which removes the characters at even index in a given string
def RemoveEven(str1):
  res = ''
  for i in range(len(str1)):
    if i%2 != 0:
      res += str1[i]
  return res

print(f'String "Bhimavaram" after removing even index characters : {RemoveEven("Bhimavaram")}')

String "Bhimavaram" after removing even index characters : hmvrm

In [ ]:
# 19. Script to convert the given string into upper and lower case
str1 = input("Enter any string : ")
print(f'Upper case of {str1} is {str1.upper()}')
print(f'Lower case of {str1} is {str1.lower()}')

Enter any string : PyTorch
Upper case of PyTorch is PYTORCH
Lower case of PyTorch is pytorch

In [ ]:
# 20. program to find number of unique words in a comma separated string
L = input("Enter comma separated list : ").split(',')
print(len(set(L)))

Enter comma separated list : sai,divij,sai,sai,srithan,srithan,divij
3

In [ ]:
# 21. Function to create HTML tags
def add_tags(tag, word):
	return "<%s>%s</%s>" % (tag, word, tag)
 
print(add_tags('i', 'Python'))
print(add_tags('b', 'PyTorch'))

<i>Python</i>
<b>PyTorch</b>

In [ ]:
# 22. program to find the reverse of a given string
str1 = input("Enter string : ")
print(f'Reverse of {str1} is {str1[::-1]}')

Enter string : vamsika
Reverse of vamsika is akismav

In [ ]:
# 23. program to reverse the given string if the string length is multiple of 3
str1 = input("Enter string : ")
if len(str1)%3 == 0:
  str1 = str1[::-1]

print(str1)

Enter string : vamsika
vamsika

In [ ]:
# 24. Program to remove newline characers in a given string.
str1 = "Vamsika\nSrithan\nDivij"
print(f'Original string : {str1}')
str1 = str1.replace('\n','')
print(f'After removing newlines : {str1}')

Original string : Vamsika
Srithan
Divij
After removing newlines : VamsikaSrithanDivij

In [ ]:
# 25. Python program to find sum of all the elements in a list
L = list(range(1,11))
s = 0
for x in L:
  s += x
print(f'Sum = {s}')

Sum = 55

In [ ]:
# 26. Python program to find sum of all the even elements in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%2 == 0:
    s += x
print(f'Sum = {s}')

Sum = 30

In [ ]:
# 27. Python program to find sum of all the odd elements in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%2 != 0:
    s += x
print(f'Sum = {s}')

Sum = 25

In [ ]:
# 28. Python program to find sum of all the elements which are divisible by 3 in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%3 == 0:
    s += x
print(f'Sum = {s}')

Sum = 18

In [ ]:
# 29. Python program to find sum of all the elements at even index in a list
L = list(range(1,11))
s = 0
for x in range(len(L)):
  if x%2 == 0:
    s += L[x]
print(f'Sum = {s}')

Sum = 25

In [ ]:
# 30. Python program to find sum of all the elements at odd index in a list
L = list(range(1,11))
s = 0
for x in range(len(L)):
  if x%2 != 0:
    s += L[x]
print(f'Sum = {s}')

Sum = 30

In [ ]:
#31. Write a function to multiply all the elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1106560

In [ ]:
#32. Write a function to multiply all the even elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%2 ==0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

640

In [ ]:
#33. Write a function to multiply all the odd elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%2 !=0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1729

In [ ]:
#34. Write a function to multiply all the even indexed elements in a list.
def multiply_list(items):
    tot = 1
    for x in range(len(items)):
      if x%2 ==0:
        tot *= items[x]
    return tot
print(multiply_list(list(range(1,20,3))))

1729

In [ ]:
#35. Write a function to multiply all the odd indexed elements in a list.
def multiply_list(items):
    tot = 1
    for x in range(len(items)):
      if x%2!=0:
        tot *= items[x]
    return tot
print(multiply_list(list(range(1,20,3))))

640

In [ ]:
#36. Write a function to multiply all the elements which are not multiples of 3 in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%3 !=0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1106560

In [ ]:
#37. Write a function to multiply all the elements which are multiples of 3 in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%3 ==0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1

In [ ]:
# 38. Program to find largest number in a list
L = list(range(1,20,3))
ans = L[0]
for i in range(len(L)):
  if L[i] > ans:
    ans = L[i]

print(ans)

19

In [ ]:
# 39. Program to find smallest number in a list
L = list(range(1,20,3))
ans = L[0]
for i in range(len(L)):
  if L[i] < ans:
    ans = L[i]

print(ans)

1

In [ ]:
# 40. Count the number of strings where the string length is 2 or more 
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

4

In [ ]:
#41. Count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
#42. Write a program to remove duplicates in a list
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [ ]:
# 43. Write a program to remove duplicates in a list using sets
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = list(set(a))
print(dup_items)

[40, 10, 80, 50, 20, 60, 30]

In [ ]:
# 44. Write a function to check whether a list is empty or not
def isEmpty(L):
  if L:
    print(f'{L} - List is not empty')
  else:
    print(f'{L} - List is empty')

isEmpty([])
isEmpty([2, 3, 4])

[] - List is empty
[2, 3, 4] - List is not empty

In [ ]:
#45. read numbers separated by commas and find their sum.
input_string = input("Enter a list element separated by comma ")
list  = input_string.split(",")
print("Calculating sum of element of input list")
sum = 0
for num in list:
    sum += int (num)
print("Sum = ",sum)

Enter a list element separated by comma 1,2,3
Calculating sum of element of input list
Sum =  6

In [ ]:
# 46. read input in the form [1,2,4] and find the sum.
input_string = input("Enter a list element separated by comma ")
input_string = input_string.strip('[').strip(']')
list  = input_string.split(',')
#print(list)
print("Calculating sum of element of input list")
sum = 0
for num in list:
    sum += int (num)
print("Sum = ",sum)

Enter a list element separated by comma [1,2,3]
Calculating sum of element of input list
Sum =  6

In [ ]:
# 47. Function to randomly remove 25% of the words in a given string.
import random
def random_deletion(words, p=0.2): 
    if len(words) == 1: # return if single word
        return words
    remaining = list(filter(lambda x: random.uniform(0,1) > p,words)) 
    if len(remaining) == 0: # if not left, sample a random word
        return [random.choice(words)] 
    else:
        return ' '.join(remaining)

str = 'Fruit is the sweet, fleshy, edible part of a plant. It generally contains seeds. '
print(str)
print(random_deletion(str.split()))
print(random_deletion(str.split()))

Fruit is the sweet, fleshy, edible part of a plant. It generally contains seeds.
Fruit is the fleshy, edible part of a plant. It contains seeds.
is the sweet, fleshy, edible part of a plant. It generally

In [ ]:
#48. Function to randomly swap the words in a sentence
def random_swap(sentence, n=2): 
    sentence = sentence.split()
    if len(sentence) > 4:

      length = range(len(sentence)-1) 
      #print(sentence, length)
      for _ in range(n):
          idx1, idx2 = random.sample(length, 2)
          sentence[idx1], sentence[idx2] = sentence[idx2], sentence[idx1] 
          #print(idx1, idx2, sentence)
      return ' '.join(sentence)
    return ' '.join(sentence)

str = 'Rama killed Ravana, and made Vibhishana as king of Lanka'
print(str)
print(random_swap(str))
print(random_swap(str, n=5))

Rama killed Ravana, and made Vibhishana as king of Lanka
Rama king made and Ravana, Vibhishana as killed of Lanka
Vibhishana made Ravana, of killed as and king Rama Lanka

In [ ]:
# 49. Program to display calendar of the given month and year
import calendar

year = int(input("Enter year: "))
month = int(input("Enter month: "))
print(calendar.month(year, month))

Enter year: 2021
Enter month: 2
   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
# 50. Function to make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y
# This function subtracts two numbers
def subtract(x, y):
    return x - y
# This function multiplies two numbers
def multiply(x, y):
    return x * y
# This function divides two numbers
def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 10
Enter second number: 20
10.0 + 20.0 = 30.0

In [ ]:
# 51. Counting no of vowels and consonants in a string

str = input("Enter a string: ")
vowels = 0
consonants = 0
for i in str:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    vowels+=1
  else:
    consonants+=1
print("Number of vowels is: {}".format(vowels))
print("Number of consonants is: {}".format(consonants))

Enter a string: python
Number of vowels is: 1
Number of consonants is: 5

In [ ]:
# 52. To display current date

import datetime
now = datetime.datetime.now()
print("current date:")
print(now.strftime("%d-%m-%y"))

current date:
05-02-21

In [ ]:
# 53. To calculate the hypotenus of a right angled triangle
import math
side1 = int(input('Enter length of first side:'))
side2 = int(input('Enter length of second side:'))
hypo = math.sqrt((side1**2)+(side2**2))
print("hypotenus of triangle is {}".format(hypo))

Enter length of first side:3
Enter length of second side:4
hypotenus of triangle is 5.0

In [ ]:
# 54. Calculating the GCD of two numbers
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
while num1%num2 != 0:
  rem = num1%num2
  num1 = num2
  num2 = rem
print("GCD of two numbers is: {}".format(num2))

enter first number64
enter second number48
GCD of two numbers is: 16

In [ ]:
# 55. To check armstrong number or not
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 121
121 is not an Armstrong number

In [ ]:
# 56. Random password generator of required length
import random
passlen = int(input("enter the length of password"))
s="abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()?"
p = "".join(random.sample(s,passlen ))
print(p)

enter the length of password10
w8naHt&zIG

In [ ]:
# 57. Function for fahrenheit to celsius conversion
def convert(s):
    f = float(s)
    c = (f - 32) * 5/9
    return c

s = int(input("Enter fahrenheit temperature: "))
print("Temperature in celsius is {}".format(convert(s)))

Enter fahrenheit temperature: 46
Temperature in celsius is 7.777777777777778

In [ ]:
# 58. username and domain from an email
email = input("Enter Your Email: ").strip()
username = email[:email.index("@")]
domain_name = email[email.index("@")+1:]
format_ = (f"Your user name is '{username}' and your domain is '{domain_name}'")
print(format_)

Enter Your Email: vcdhbdjb@gmail.com
Your user name is 'vcdhbdjb' and your domain is 'gmail.com'

In [ ]:
# 59. Convert Degree to Radian
def convert_degree_to_radian(degree):
  pi = 22/7
  return degree * (pi/180)
print(convert_degree_to_radian(90))

1.5714285714285714

In [ ]:
# 60. Area of Trapezoid
def area_of_trapezoid(base1: float, base2: float, height: float):
  return ((base1 + base2) / 2) * height
print(area_of_trapezoid(10, 5, 6))

45.0

In [ ]:
#61. Area of parallelogram
def area_of_parallelogram(length: float, height: float):
  return length * height
print(area_of_parallelogram(5, 6))

30

In [ ]:
# 62. Surface volume of Cylinder
def surface_volume_of_cylinder(height: float, radius: float):
  pi = 22/7
  return  pi * radius * radius * height
print(surface_volume_of_cylinder(4, 6))

452.57142857142856

In [ ]:
# 63. arc length of an angle
def arc_length_of_angle(diameter: float, angle: float):
  pi = 22/7
  return "Angle not possible" if angle >= 360 else ((pi * diameter) * (angle / 360))
print(arc_length_of_angle(9, 361))

'Angle not possible'

In [ ]:
# 64. Area of a sector
def area_of_sector(radius: float, angle: float):
  pi = 22/7
  return "Angle not possible" if angle >= 360 else ((pi * radius * radius) * (angle / 360))
area_of_sector(4, 45)

6.285714285714286

In [ ]:
# 65. discriminent value
def discriminent(x: float, y: float, z: float):
  discriminent = (y**2) - (4 * x*z)
  if discriminent > 0:
    return "Two Solutions. Discriminent values are " + str (discriminent)
  elif discriminent == 0:
    return "One Solution. Discriminent value is " + str (discriminent)
  elif discriminent < 0:
    return "No real solution. Discriminent value is" + str (discriminent)
discriminent(4, 8, 2)

'Two Solutions. Discriminent values are 32'

In [ ]:
# 66. Last occurance of a letter in a word
def last_occurence(word: str, letter: str):
  return word.rfind(letter)
last_occurence("Vishnu Institute of Technology", "o")

27

In [ ]:
# 67. number of elements greater than given number
def greater(lst: list, max_element: int):
  count = 0
  for i in lst:
    if i > max_element :
      count += 1
  return count
greater([1, 2, 3, 4], 2)

2

In [ ]:
# 68. Swap max and min elements in list
def swap_max_min(lst: list):
  lst[lst.index(max(lst))], lst[lst.index(min(lst))] = lst[lst.index(min(lst))], lst[lst.index(max(lst))]
  return lst
swap_max_min([1, 2, 3, 5])

[5, 2, 3, 1]

In [ ]:
# 69. Simple Number Triangle Pattern
n = int(input())
print("Triangular Pattern for the given number : ")
for i in range(1,n+1):
    for _ in range(i):
        print(i,end="")
    print()

6
Triangular Pattern for the given number :
1
22
333
4444
55555
666666

In [ ]:
# 70. Inverted Pyramid of Number
n = int(input("Enter the number :"))
print("Inverted pyramid for given number : ")
for i in range(1,n+1):
    for j in range(n-i+1):
        print(i,end="")
    print()

Enter the number :5
Inverted pyramid for given number :
11111
2222
333
44
5

In [ ]:
# 71. Sum of first n natural numbers
def SumOfNaturalNumbers(n):
  return (n*(n+1))//2
num = int(input("Enter a number : "))
print("The sum of first {} natural numbers is : {}".format(num,SumOfNaturalNumbers(num)))

Enter a number : 5
The sum of first 5 natural numbers is : 15

In [ ]:
# 72. Program To Find ASCII value of given input
c = input("Enter a character: ")  
print("The ASCII value of {} is {} ".format(c,ord(c)))

Enter a character: )
The ASCII value of ) is 41

In [ ]:
# 73. Program To Find value of given ASCII number
c = int(input("Enter the ASCII value : "))
if c>=0 and c<=127:
  print("The value of given ASCII value {} is {} ".format(c,chr(c)))
else:
  print("Please enter proper ASCII value")

Enter the ASCII value : 65
The value of given ASCII value 65 is A

In [ ]:
# 74. Program to Sort Words in Alphabetic Order
string = input("Enter a string : ")  
words = string.split()  
words.sort()  
print("The sorted order is : ",end="")
for word in words:  
   print(word,end=" ")

Enter a string : Hello this Is an Example With cased letters
The sorted order is : Example Hello Is With an cased letters this

In [ ]:
# 75. program to check if the given number is a Disarium Number
''' Disarium Number = A number is said to be the Disarium number when the sum of its digit raised to the power of their
 respective positions becomes equal to the number itself.'''
num = int(input("Enter a number : "))  
sum = 0    
n = num
power = len(str(n))
while num > 0 :    
    r = num%10    
    sum = sum + int(r**power)    
    num = num//10    
    power = power - 1    
if sum == n :    
    print(str(n) + " is a disarium number")    
else:    
    print(str(n) + " is not a disarium number")

Enter a number : 89
89 is a disarium number

In [ ]:
# 76. Transpose of a matrix
m = int(input("Enter number of rows : "))
n = int(input("Enter number of columns : "))
matrix = [[0]*n for i in range(m)]
matrixtranspose = [[0]*m for i in range(n)]
for i in range(m):
    for j in range(n):
        print("Enter the element a{}{} : ".format(i,j),end=" ")
        matrix[i][j] = int(input())
    print()
for i in range(m):
    for j in range(n):
        matrixtranspose[j][i] = matrix[i][j]
print("Given matrix is : ")
for i in range(m):
    for j in range(n):
        print(matrix[i][j],end=" ")
    print()
print("Transposed matrix is : ")
for i in range(n):
    for j in range(m):
        print(matrixtranspose[i][j],end=" ")
    print()

Enter number of rows : 3
Enter number of columns : 3
Enter the element a00 :  1
Enter the element a01 :  2
Enter the element a02 :  3

Enter the element a10 :  4
Enter the element a11 :  5
Enter the element a12 :  6

Enter the element a20 :  7
Enter the element a21 :  8
Enter the element a22 :  9

Input matrix is :
1 2 3
4 5 6
7 8 9
Transposed matrix is :
1 4 7
2 5 8
3 6 9

In [ ]:
# 77. Adding two matrices
m = int(input("Enter number of rows : "))
n = int(input("Enter number of columns : "))
matrix1 = [[0]*n for i in range(m)]
matrix2 = [[0]*n for i in range(m)]
matrixsum = [[0]*n for i in range(m)]
for i in range(m):
    for j in range(n):
        print("Enter the element a{}{} : ".format(i,j),end=" ")
        matrix1[i][j] = int(input())
    print()
for i in range(m):
    for j in range(n):
        print("Enter the element b{}{} : ".format(i,j),end=" ")
        matrix2[i][j] = int(input())
    print()
for i in range(m):
  for j in range(n):
    matrixsum[i][j] = matrix1[i][j]+matrix2[i][j]

print("Given matrixes are : ")
for i in range(m):
    for j in range(n):
        print(matrix1[i][j],end=" ")
    print()
print()
for i in range(m):
    for j in range(n):
        print(matrix2[i][j],end=" ")
    print()
print()
print("Addition of given matrixes is : ")
for i in range(n):
    for j in range(m):
        print(matrixsum[i][j],end=" ")
    print()

Enter number of rows : 3
Enter number of columns : 3
Enter the element a00 :  1
Enter the element a01 :  2
Enter the element a02 :  3

Enter the element a10 :  4
Enter the element a11 :  5
Enter the element a12 :  6

Enter the element a20 :  7
Enter the element a21 :  8
Enter the element a22 :  9

Enter the element b00 :  1
Enter the element b01 :  2
Enter the element b02 :  3

Enter the element b10 :  4
Enter the element b11 :  5
Enter the element b12 :  6

Enter the element b20 :  7
Enter the element b21 :  8
Enter the element b22 :  9

Given matrixes are :
1 2 3
4 5 6
7 8 9

1 2 3
4 5 6
7 8 9

Addition of given matrixes is :
2 4 6
8 10 12
14 16 18

In [ ]:
# 78. Program to print binary number using recursion
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')
convertToBinary(int(input("Enter the decimal number : ")))

Enter the decimal number : 34
100010

In [ ]:
# 79. Program to find wether given element is in list or not using Binary Search
def BinarySearch(low,high,l):
  while low<=high:
    mid = (low+high)//2
    if l[mid]==n:
        return "Element is present in the given list"
    elif l[mid]<n:
        low = mid+1
    elif l[mid]>n:
        high = mid-1
  return "Element not Found in the given list"
l = list(map(int,input("Enter the elements in list : ").split(" ")))
n = int(input("Enter the number :"))
l.sort()
low,high = 0,len(l)-1
print(BinarySearch(low,high,l))

Enter the elements in list : 1 5 3 2 4
Enter the number :1
Element is present in the given list