<a href="https://colab.research.google.com/github/sridevibonthu/TSAI_END_P1/blob/main/Session%2008/100_python_samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Function to return area of a triangle when sides are given
def areaOfTriangle(a, b, c):
  s = (a+b+c)/2
  return (s*(s-a)*(s-b)*(s-c)) ** 0.5

areaOfTriangle(3, 6, 7)

8.94427190999916

In [ ]:
# 2. This program checks whether the given year is leap year or not.
# A  leap year is exactly divisible by 4 except for century years (years ending with 00). 
# The century year is a leap year only if it is perfectly divisible by 400. 

year = int(input("Enter year : "))

if (year%4 == 0 and year%100 != 0) or year%400 == 0:
  print(f'{year} is a leap year')
else:
  print(f'{year} is not a leap year')

Enter year : 2000
2000 is a leap year

In [ ]:
# 3. Function to swap two numbers
def swapNumbers(a, b):
  return b, a

swapNumbers(4, 5)

(5, 4)

In [ ]:
# 4. Program to check the length of a string without using built-in function

s = input("Enter string : ")
l = 0
for x in s:
  l += 1
print(f'length of {s} is {l}')

Enter string : vamsika
length of vamsika is 7

In [ ]:
# 5. Finding square root without using math.sqrt
x = int(input("Enter a number : "))
ans = x ** 0.5
print(f'sqrt({x}) = {ans}')

Enter a number : 81
sqrt(81) = 9.0

In [ ]:
# 6. Program to check whether the given number is divisible by seven or not
num = int(input("Enter a number: "))
if (num % 7) == 0:
   print(f'{num} is divisible by 7.')
else:
   print(f'{num} is not divisible by 7.')

Enter a number: 67
67 is not divisible by 7.

In [ ]:
# 7. Generate a random number between 0 and 9
import random
print(random.randint(0, 9))

6

In [ ]:
# 8. program to caluculate the factorial of a number
n = int(input("Enter a number : "))
if n==0:
  fact = 0
else:
  fact = 1
  for i in range(1, n+1):
    fact = fact * i
print(f'{n}! = {fact}')

Enter a number : 5
5! = 120

In [ ]:
# 9. Python function to count the number of occurrences of characters (character frequency) in a string

def char_frequency(str1):
    dict = {}
    for ch in str1:
        if ch in dict.keys():
            dict[ch] += 1
        else:
            dict[ch] = 1
    return dict
print(char_frequency('TheSchoolOfAI, Bangalore'))

{'T': 1, 'h': 2, 'e': 2, 'S': 1, 'c': 1, 'o': 3, 'l': 2, 'O': 1, 'f': 1, 'A': 1, 'I': 1, ',': 1, ' ': 1, 'B': 1, 'a': 2, 'n': 1, 'g': 1, 'r': 1}

In [ ]:
# 10. Python function to count the number of occurrrences of words in the text

def word_frequency(str1):
  dict = {}
  for w in str1.split():
    if w in dict.keys():
      dict[w] += 1
    else:
      dict[w] = 1
  return dict

text = "Look at this sample file: sample.py Preview the documentYou are to write such examples, where you describe the code to be written (starts with #), and the code it should generate. The file shows 3 examples of what text should generate what code. "

print(word_frequency(text))

{'Look': 1, 'at': 1, 'this': 1, 'sample': 1, 'file:': 1, 'sample.py': 1, 'Preview': 1, 'the': 3, 'documentYou': 1, 'are': 1, 'to': 2, 'write': 1, 'such': 1, 'examples,': 1, 'where': 1, 'you': 1, 'describe': 1, 'code': 2, 'be': 1, 'written': 1, '(starts': 1, 'with': 1, '#),': 1, 'and': 1, 'it': 1, 'should': 2, 'generate.': 1, 'The': 1, 'file': 1, 'shows': 1, '3': 1, 'examples': 1, 'of': 1, 'what': 2, 'text': 1, 'generate': 1, 'code.': 1}

In [ ]:
# 11. Python function to return a string formed using first and last two characters.
def FirstandLasttwo(str1):
  if len(str1)<2:
    return ''
  return str1[:2]+str1[-2:]

print(FirstandLasttwo('NLP'))
print(FirstandLasttwo('Bhimavaram'))
print(FirstandLasttwo('S'))

NLLP
Bham

In [ ]:
# 12. program to replace all occurrences of first character of a string with $

str1 = 'ouagadougou'

ch = str1[0]
str1 = str1.replace(ch, '$')
str1 = ch + str1[1:]

print(str1)

ouagad$ug$u

In [ ]:
# 13. write a function to add 'ing' at the end of the string, if it doesnot end with 'ing'

def addINGatend(str1):
  if not str1.endswith('ing'):
    str1 = str1 + 'ing'
  return str1

print(addINGatend('play'))
print(addINGatend('running'))

playing
running

In [ ]:
# 14. python program to find the longest word in the sentence
sent = "I am working as an Assistant Professor at Vishnu Institute of Technology - Bhimavaram"
longword = ''
for x in sent.split():
  if len(x) > len(longword):
    longword = x

print(f'Longest word = {longword}\nLength = {len(longword)}')

Longest word = Technology
Length = 10

In [ ]:
# 15. program to exchange first and last characters in a given string
str1 = "SrithaN"
print(str1[-1] + str1[1:-1] + str1[0])

NrithaS

In [ ]:
# 16.  Function to remove the nth character in a given string
def RemoveNth(str1, n):
  return str1[:n] + str1[n+1:]

print(RemoveNth('Bhimavaram', 3))

Bhiavaram

In [ ]:
# 17. Function which removes the characters at odd index in a given string
def RemoveOdd(str1):
  res = ''
  for i in range(len(str1)):
    if i%2 == 0:
      res += str1[i]
  return res

print(f'String "Bhimavaram" after removing odd index characters : {RemoveOdd("Bhimavaram")}')

String "Bhimavaram" after removing odd index characters : Biaaa

In [ ]:
# 18. Function which removes the characters at even index in a given string
def RemoveEven(str1):
  res = ''
  for i in range(len(str1)):
    if i%2 != 0:
      res += str1[i]
  return res

print(f'String "Bhimavaram" after removing even index characters : {RemoveEven("Bhimavaram")}')

String "Bhimavaram" after removing even index characters : hmvrm

In [ ]:
# 19. Script to convert the given string into upper and lower case
str1 = input("Enter any string : ")
print(f'Upper case of {str1} is {str1.upper()}')
print(f'Lower case of {str1} is {str1.lower()}')

Enter any string : PyTorch
Upper case of PyTorch is PYTORCH
Lower case of PyTorch is pytorch

In [ ]:
# 20. program to find number of unique words in a comma separated string
L = input("Enter comma separated list : ").split(',')
print(len(set(L)))

Enter comma separated list : sai,divij,sai,sai,srithan,srithan,divij
3

In [ ]:
# 21. Function to create HTML tags
def add_tags(tag, word):
	return "<%s>%s</%s>" % (tag, word, tag)
 
print(add_tags('i', 'Python'))
print(add_tags('b', 'PyTorch'))

<i>Python</i>
<b>PyTorch</b>

In [ ]:
# 22. program to find the reverse of a given string
str1 = input("Enter string : ")
print(f'Reverse of {str1} is {str1[::-1]}')

Enter string : vamsika
Reverse of vamsika is akismav

In [ ]:
# 23. program to reverse the given string if the string length is multiple of 3
str1 = input("Enter string : ")
if len(str1)%3 == 0:
  str1 = str1[::-1]

print(str1)

Enter string : vamsika
vamsika

In [ ]:
# 24. Program to remove newline characers in a given string.
str1 = "Vamsika\nSrithan\nDivij"
print(f'Original string : {str1}')
str1 = str1.replace('\n','')
print(f'After removing newlines : {str1}')

Original string : Vamsika
Srithan
Divij
After removing newlines : VamsikaSrithanDivij

In [1]:
# 25. Python program to find sum of all the elements in a list
L = list(range(1,11))
s = 0
for x in L:
  s += x
print(f'Sum = {s}')

Sum = 55

In [2]:
# 26. Python program to find sum of all the even elements in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%2 == 0:
    s += x
print(f'Sum = {s}')

Sum = 30

In [3]:
# 27. Python program to find sum of all the odd elements in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%2 != 0:
    s += x
print(f'Sum = {s}')

Sum = 25

In [4]:
# 28. Python program to find sum of all the elements which are divisible by 3 in a list
L = list(range(1,11))
s = 0
for x in L:
  if x%3 == 0:
    s += x
print(f'Sum = {s}')

Sum = 18

In [5]:
# 29. Python program to find sum of all the elements at even index in a list
L = list(range(1,11))
s = 0
for x in range(len(L)):
  if x%2 == 0:
    s += L[x]
print(f'Sum = {s}')

Sum = 25

In [6]:
# 30. Python program to find sum of all the elements at odd index in a list
L = list(range(1,11))
s = 0
for x in range(len(L)):
  if x%2 != 0:
    s += L[x]
print(f'Sum = {s}')

Sum = 30

In [8]:
#31. Write a function to multiply all the elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1106560

In [9]:
#32. Write a function to multiply all the even elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%2 ==0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

640

In [10]:
#33. Write a function to multiply all the odd elements in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%2 !=0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1729

In [12]:
#34. Write a function to multiply all the even indexed elements in a list.
def multiply_list(items):
    tot = 1
    for x in range(len(items)):
      if x%2 ==0:
        tot *= items[x]
    return tot
print(multiply_list(list(range(1,20,3))))

1729

In [13]:
#35. Write a function to multiply all the odd indexed elements in a list.
def multiply_list(items):
    tot = 1
    for x in range(len(items)):
      if x%2!=0:
        tot *= items[x]
    return tot
print(multiply_list(list(range(1,20,3))))

640

In [14]:
#36. Write a function to multiply all the elements which are not multiples of 3 in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%3 !=0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1106560

In [15]:
#37. Write a function to multiply all the elements which are multiples of 3 in a list.
def multiply_list(items):
    tot = 1
    for x in items:
      if x%3 ==0:
        tot *= x
    return tot
print(multiply_list(list(range(1,20,3))))

1

In [16]:
# 38. Program to find largest number in a list
L = list(range(1,20,3))
ans = L[0]
for i in range(len(L)):
  if L[i] > ans:
    ans = L[i]

print(ans)

19

In [17]:
# 39. Program to find smallest number in a list
L = list(range(1,20,3))
ans = L[0]
for i in range(len(L)):
  if L[i] < ans:
    ans = L[i]

print(ans)

1

In [18]:
# 40. Count the number of strings where the string length is 2 or more 
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

4

In [19]:
#41. Count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [20]:
#42. Write a program to remove duplicates in a list
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [22]:
# 43. Write a program to remove duplicates in a list using sets
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = list(set(a))
print(dup_items)

[40, 10, 80, 50, 20, 60, 30]

In [23]:
# 44. Write a function to check whether a list is empty or not
def isEmpty(L):
  if L:
    print(f'{L} - List is empty')
  else:
    print(f'{L} - List is not empty')

isEmpty([])
isEmpty([2, 3, 4])

[] - List is not empty
[2, 3, 4] - List is empty